<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3./css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


        <!-- custom library -->
        <link rel="shortcut icon" href="/image/favicon.ico">
        <link rel="icon" href="/image/favicon.ico">
        <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/post_list.css">
        <script src="/js/lib/ajax_get.js"></script>
        <script>
            //페이지 로딩 완료 후 실행될 함수
            window.onload = function() {
                init_type_date();
            }

            function init_type_date() {
                let today = new Date().toISOString().split('T')[0];
                let date = get_url_parameter('date');
                
                if(!date) {
                    date = today;
                }
                
                //날짜 제한 생성
                document.getElementsByName("date")[0].setAttribute('min', today);
                //현재 날짜 삽입
                document.getElementsByName("date")[0].setAttribute('value', date);
            }

            function get_postlist() {
                let date = document.getElementsByName("date")[0].value;
                let tbody = document.getElementById("list");

                //URL 변경
                history.pushState(null, null, "postlist?date=" + date);

                //기존 Row 제거
                tbody.innerHTML = "";

                //새로운 Row 생성
                ajax_get_postlist(<%=routeNo%>, date, (list) => {
                    for (let i = 0; i < list.length; i++) {

                        //td 추가
                        let row = tbody.insertRow(tbody.rows.length);

                        row.setAttribute('class', "postBtn");
                        row.setAttribute('onclick', `location.href='/route/<%=routeNo%>/post/${list[i].post_no}'`);

                        //tr 추가
                        let postIdCell = row.insertCell(0);
                        let timeCell = row.insertCell(1);
                        let ownerCell = row.insertCell(2);
                        let attenderNumCell = row.insertCell(3);

                        postIdCell.innerHTML = list[i].post_no;
                        timeCell.innerHTML = list[i].reservation_time;
                        ownerCell.innerHTML = list[i].owner_user_name;
                        attenderNumCell.innerHTML = list[i].attender_num + "/3";
                    }
                });
            }

            function get_url_parameter(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        </script>   

        <title>가치타자</title>
    </head>
    <body>
        <header>
            <h1 class="title" onclick="location.href='/'">가치타자</h1>
            <!-- 로그인, 내 정보 관리 버튼 -->
            <nav class="box-container">
                <div class="box"></div>
                    <ul class="menuList">
                        <li class="menuBtn">회원설정</li>

                        <%# 로그인 버튼 %>
                        <% if (userNo) { %>
                            <li class="menuBtn" onclick="location.href='/auth/logout'">로그아웃</li>
                        <% } else { %>
                            <li class="menuBtn" onclick="location.href='/auth/login'">로그인 / 회원가입</li>
                        <% } %>

                    </ul>
                <div class="box"></div>
            </nav>
        </header>
        <main class="box-container">
            <div class="box"></div>
            <div class="divMain">
                <!-- 날짜 선택기 -->
                <form action="./postlist" method="get" class="dateForm">
                    <p>
                        <input type="date" name="date" onchange="get_postlist()" class="input"/>
                        <!-- <input type="submit" value="검색"/> -->
                    </p>
                </form>

                <!-- 포스트 리스트 -->
                <table class="table table-striped">
                    <thead>
                        <th>게시글 번호</th>
                        <th>시각</th>
                        <th>게시자</th>
                        <th>현재 인원</th>
                    </thead>
                    <tbody id="list">

                        <% for(let i = 0; i < postList.length; i++) { %>
                            <tr class="postBtn" onclick="location.href='/route/<%=routeNo%>/post/<%=postList[i]['post_no']%>'">
                                <td><%=postList[i]['post_no']%></td>
                                <td><%=postList[i]['reservation_time']%></td>
                                <td><%=postList[i]['owner_user_name']%></td>
                                <td><%=postList[i]['attender_num']%>/3</td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
                <button type="button" class="writeBtn" onclick="location.href='../../'">뒤로가기</button>
                <button class="writeBtn" onclick="location.href='/route/<%=routeNo%>/write'">글작성</button>
            </div>
            <div class="box"></div>
        </main>
        <footer>

        </footer>
    </body>
</html>